*{
    font-family: 'arsenal-regular';
    font-size: var(--text-size);
}
:root{
    --text_color: #141414;
    --text-size: calc(1vw + 1vh);
    --transition: 1.25s cubic-bezier(.2, .5, 0, 1);
    --transition-cursor: 2s cubic-bezier(.05, .5, 0, 1);
}
@font-face {
    font-family: 'arsenal-regular';
    src: url(../Fonts/arsenal-regular.woff2);
}
html, body{
height: 100%;
}
.magic-list{

}
.magic-list__item{

}
.magic-list__item::first-child{

}
.magic-list__header{
    transition: transform (var(--transition));
    height: 20vh;
    
}
.magic-list__item::before{
    transition: transform (var(--transition));
}
.magic-list__item:hover .magic-list__header,.magic-list__item:hover::before{

}
.cursor{
    transition: transform var(--transition-cursor) height 1s ease;
    width: 10vw;
    height: 10vh;
    position: fixed;
    z-index: -100;
    display: none;
    left: 0;
    top: 0;
}
.magic-list__item:hover .cursor{
    display: block;
    transform: translate(calc(var(--move-x) - 100px),calc(var(--move-y) - 50px));
    cursor: none;
}
.cursor_image{
    transition: transform var(--transition-cursor);
    width: 10vw;
    height: 10vh;
}
.magic-list__item:hover .cursor_image{
}