*{
    font-family: 'arsenal-regular';
    font-size: 40px;
    transition: 1s;
    cursor: none;
}
:root{
    --height: 100%;
    --width: 100%;
    --text_color: #141414;
    --text-size: calc(1vw + 1vh);
    --transition: 1.25s cubic-bezier(.2, .5, 0, 1);
    --transition-cursor: 2s cubic-bezier(.05, .5, 0, 1);
}
@font-face {
    font-family: 'arsenal-regular';
    src: url(../Fonts/arsenal-regular.woff2);
}
html, body{
height: 100%;
cursor: none;
}
.magic-list{

}
hr{
    margin: 0;
    border-color: #141414;
}
.magic-list__item{
    
    text-decoration: none;
    color: var(--text_color);
    margin: 0;
}
.magic-list__item::first-child{

}
.magic-list__header{
    display: flex;
    align-items: center;
    transition: transform (var(--transition));
    height: 30vh;
    padding-left: 80px;
    transition: 1s;
}
.magic-list__item::before{
    height: 0px;
    transition: transform (var(--transition));
    transform-origin: height;
}
.magic-list__item:hover .magic-list__header,.magic-list__item:hover::before{
    padding-left: 30px;
    
}
.cursor{
    transition: transform var(--transition-cursor), height 1s ease;
    position: fixed;
    z-index: -100;
    top: 0;
    left: 0;
    transform: translate(calc(var(--move-x) - 300px),calc(var(--move-y) - 200px));
    overflow: hidden;
    /* left:var(--move-x);
    top: var(--move-y); */
}
.magic-list__item:hover .cursor{
    transform: translate(calc(var(--move-x) - 300px),calc(var(--move-y) - 200px));
}
#image1{
    background-image: url('./../image/1.jpg');
    overflow: hidden;
}
#image2{
    background-image: url('./../image/2.jpg');
    overflow: hidden;
}
#image3{
    background-image: url('./../image/3.jpg');
    overflow: hidden;
}
#image4{
    background-image: url('./../image/4.jpg');
    overflow: hidden;
}
#image5{
    background-image: url('./../image/5.jpg');
    overflow: hidden;
}
/* #image2,#image3,#image4,#image5 */
#image1,#image2,#image3,#image4,#image5 {
    transition: transform var(--transition-cursor);
    transform-origin:height;
    width: 600px;
    height: 0px;
    background-size:cover;
}
#image1{
    animation: orig 1s alternate;
    animation-fill-mode: both;
}
#image2{
    animation: orig 1s alternate;
    animation-fill-mode: both;
}
#image3{
    animation: orig 1s alternate;
    animation-fill-mode: both;
}
#image4{
    animation: orig 1s alternate;
    animation-fill-mode: both;
}
#image5{
    animation: orig 1s alternate;
    animation-fill-mode: both;
}
@keyframes orig {
    0%{
        height: 0px;
    }
    100%{
        height: 300px;
    }
}
.magic-list__item:not(:hover) #image1{
    animation: orig-out 1s alternate;
    animation-fill-mode: both;
}
.magic-list__item:not(:hover) #image2{
    animation: orig-out 1s alternate;
    animation-fill-mode: both;
}
.magic-list__item:not(:hover) #image3{
    animation: orig-out 1s alternate;
    animation-fill-mode: both;
}
.magic-list__item:not(:hover) #image4{
    animation: orig-out 1s alternate;
    animation-fill-mode: both;
}
.magic-list__item:not(:hover) #image5{
    animation: orig-out 1s alternate;
    animation-fill-mode: both;
}
@keyframes orig-out {
    0%{
        height: 300px;
    }
    100%{
        height: 0px;
    }
}
